{% include "myapi/includes/saitbar.html" %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>14 февраля</title>
</head>


<body class="ramki">
<div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
    <div>
        <table class="p-4 p-md-5 mb-4 text-white rounded bg-dark" >
            <div>
            <td>
                <h1><font>Давай же вспомним, как всё начиналось?</font></h1>
                <p class="lead my-3"><font>
                   <font>
9 сентября 2017 года... Алея Героев... День города... Сладкая вата, полённые NewBalans
                  </font></p>
            </td>
                <td align="center">
                <p>
                <img  src = 'https://cs7.pikabu.ru/post_img/big/2019/02/05/10/1549389056174831502.jpg'
                      alt = '' width = ' 500p ' height = ' 200 ' style =" object-fit: cover " />
                </p>
                </td>
        </table>
    </div>
        </div>

        <!--  ***************      1 стоблец       ************************ -->
<div class="h-100 p-3 bg-light border rounded-3">
    <table></tr>
        <td>
                <img  src = 'https://sun9-85.userapi.com/impf/c837322/v837322465/52ebc/EKBfGLmxRSk.jpg?size=449x600&quality=96&sign=e7978aa9b5efd7752200ab4c79bb8ee1&type=album'
                      alt = '' width = ' 650p ' height = ' 320 ' style =" object-fit: cover " />
        </td>
        <td>
<div align="justify" style="margin-left: 25px">
            <p>
                <font size="5" face="Time new Roman" style="line-height: 1.7em "  >
                    Во время знакомства ты мне дала свой номер телефона, но поскольку я ЖМОТ, а у тебя до сих пор связь очень дорогая связь
                    я решил действовать иначе, а именно найти тебя в VK, ноооооооооо, была проблема...
                    Я забыл как ты выглядишь, за-то хорошо помнил твои кроссовки :D </br>
                    Вот и стал искать Надежд в Волгограде с NewBalance</br>
                    P.S. Это единственная фотка которая у меня осталось с твоими кроссовками :D</br>
                </font>
            </p>
</div>
        </td>

        <!--  ***************      2 стоблец       ************************ -->
    <tr>
        <td>
      <p>
            <font size="5" face="Time new Roman" style="line-height: 1.7em "  >
                    После чего, спустя примерно 2 недели мы начали встречаться но ты всё так-же не давала себя сфоткать... </br>
                    На этой странице есть пасхалка, найди её, вперёд, я в тебя верю
            </font>
          <t size="5" face="Time new Roman" style="line-height: 1.7em">
              <b><a  href ="Pashalkaone" style="text-decoration: none; color: black;"> !!!</b></t>
      </p>
        </td>
        <td>
                <img  src = 'https://sun9-64.userapi.com/impf/c840423/v840423074/bcce/eoXZL6njsa4.jpg?size=960x720&quality=96&sign=cc50c8004c085d2442356473126bd626&type=album'
                      alt = '' width = ' 780p ' height = ' 420 ' style =" object-fit: cover " />
        </td>
    </tr>
        <!-- ************************** Пасхалка ************************** -->




    </table>
</div>


{% include "myapi/includes/end.html" %}
</body>
</html>
{% include "myapi/includes/style.html" %}
