{% include "myapi/includes/saitbar.html" %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>14 февраля</title>
</head>
<body class="ramki">

    <img  src = 'https://i.ibb.co/QPwFWsp/01-02-2022-20-47-09.png'
    alt = '' width = ' 1000p ' height = ' 1000 ' style =" object-fit: cover " />




</body>
</html>

{% include "myapi/includes/end.html" %}
{% include "myapi/includes/style.html" %}
